body {
    position: relative;
}

#home {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #6a2c70;
}

#portfolio {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #b83b5e;
}

#experience {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #f08a5d;
}

#contact {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #ffd460;
}