body {
    padding-top: 60px;
}

@media (min-width: 980px) {
    body {
        padding-top: 30px;
    }
}

.container-fluid {
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: -16px;
}

#home {
    padding-top: 60px;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,2.0) 100%), url(../images/devops_blue.jpg);
}

#name {
    font-weight: 800;
}

#job-title {
    font-weight: 300;
}

#portfolio {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/falling-code.jpg);
}

.project-card-lg {
    min-height: 635px;
}

.project-card-m {
    min-height: 520px;
}

@media (max-width: 980px) {
    .project-card-lg, .project-card-m {
        min-height: 0;
    }
}

.section-header {
    margin-bottom: 0;
}
.project-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 2%;
}

.project-detail {
    color: black;
}

.project-detail p {
    margin-top: 0;
    margin-bottom: 0;
}
#experience {
    color: #fff;
    font-weight: 600;
    background-size: cover;
    background: black no-repeat center;
    /*background-image: url(../images/source-code.jpg);*/
}

#devops-experience {
    padding-top: 16px;
}

.experience-image {
    width: 30%;

    float: left;
    display: contents;
}

.skill-image {
    max-width: 500px;
}

.ability-title {
    display: inline-block;
    width: 60%;
}

.ability-score {
    float: right;
}